.page-layout{
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
}

nav{
    background-color: #606465;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-logo{
    width: 150px;
    margin: 10px 0;
}


.register-form-container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form{
    width: 30%;
    min-height: 80vh;
    height: auto;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px 3px grey;
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
    gap: 30px;
}

.form-elements{
    width: 100%;
    box-sizing: border-box;
}

.form-title{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 1em;
}

.inputs{
    all: unset;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px 10px 15px 10px;
    font-size: 15px;
    background-color: white;
}

#email-warning{
    margin-top: -25px;
    color: red;
}

button{
    color: white;
    background-color: #69b41e;
    border: none;
    padding: 15px 50px 15px 50px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: auto;
}

button:disabled{
    background-color: lightgray;
    color: gray;
}

button:disabled:hover{
    background-color: lightgray;
}

button:disabled:active{
    transform: none;
}

button:active{
    transform: scale(0.98);
}

button:hover{
    cursor: pointer;
    background-color: #5e9924;
}

#form-footer{
    text-align: center;
}

.duplicate-email-warning-container{
    font-size: 14px;
    font-weight: 500;
    border: 1px solid red;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(250, 198, 198);
    display: flex;
    gap: 1em;
    justify-content: center;
}

#warning-icon{
    width: 15px;
    height: 15px;
}

#route-to-login{
    cursor: pointer;
    color: rgb(72, 72, 226);
}


//Styles for succes message window
.success-message-container{
    width: 30%;
    min-height: 80vh;
    height: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 3px grey;
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#success-message{
    color: #69b41e;
    font-weight: 600;
    font-size: large;
    text-align: center;
}

a{
    all: unset;
}

.route-option{
    color: white;
    background-color: #69b41e;
    border: none;
    padding: 15px 50px 15px 50px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 0;
}

.route-option:active{
    transform: scale(0.98);
}

.route-option:hover{
    cursor: pointer;
    background-color: #5e9924;
}


 // X-Small devices (portrait phones, less than 576px)
 @media (max-width: 576px) {
    .login-form, .success-message-container{
        width: 100%;
        box-shadow: none;
        border-radius: 0;
    }
 }

 @media (max-height: 580px){
    .login-form, .success-message-container{
        width: 100%;
        box-shadow: none;
        border-radius: 0;
    }
 }

 // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .login-form, .success-message-container{
        width: 70%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .login-form, .success-message-container{
        width: 55%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .login-form, .success-message-container{
        width: 40%;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .login-form, .success-message-container{
        width: 35%;
    }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    .login-form, .success-message-container{
        width: 30%;
    }
 }
    