<div class="header">
    <div class="auth-buttons-container">
        @if(userService.userData()){
            <div class="user-avatar-container">
                <div id="user-avatar" (click)="toggleDropdownMenuVisibility($event)">{{ userService.userData().name.charAt(0) }}{{ userService.userData().surname.charAt(0) }}</div>
                <div id="user-name">{{ userService.userData().name }} {{ userService.userData().surname }}</div> 

                @if(isDropdownMenuVisible()){
                    <div class="dorpdown-avatar-menu">
                        <div class="avatar-menu-option">User Details</div>
                        <div class="avatar-menu-option">Bookings</div>
                        <div class="avatar-menu-option" (click)="authServices.logOut()">Logout</div>
                    </div>
                }
            </div>
        }
        @if(!userService.userData()){    
            <button routerLink="login" class="auth-btn">Login</button>
            <button routerLink="register" class="auth-btn">Register</button>
        }
    </div>
    
    <div id="logo-container" routerLink="" (click)="this.headerService.refreshHomePage()"><img src="assets/images/cabin-retreats-edited.png" alt="brand image"></div>
    <div class="search-bar">
        <app-search-available-cabins-form/>
    </div>
</div> 



