<div class="header">
    <div class="auth-buttons-container">
    @if(authServices.authenticated()){
        <div id="user-avatar" (click)="getUserId()">RA</div>
        <div id="user-name">Rusu Alexandru</div>
    }
        <button routerLink="login" class="auth-btn">Login</button>
        <button routerLink="register" class="auth-btn">Register</button>
        <button (click)="authServices.logOut()" class="auth-btn">Logout</button>
    </div>
    <div id="logo-container" routerLink="" (click)="this.headerService.refreshHomePage()"><img src="assets/images/cabin-retreats-edited.png" alt="brand image"></div>
    <div class="search-bar">
        <app-search-available-cabins-form/>
    </div>
</div> 



