
<!--<div class="reserve-form-container-wrapper">-->
    <!-- <div class="reserve-form-container"> -->
    
    <div class="success-message-container">
        <div id="success-message">&#x2714; Booking successfully created!</div>
        <button id="continue-button">Continue</button>
    </div>
    <!-- @if(cabin && searchInputs){
        <div class="toolbar">
                <div (click)="closeModal()" id="close-modal-button">&#10006;</div>
        </div>
        <div class="reservation-details">
            <img id="cabin-picture" src="{{cabin.picture}}">
            <img id="cabin-picture" src="assets/images/cabin-images/Apuseni Explorer's Base.jpg">
            <div id="cabin-name">{{ cabin.name }}</div>
            <div id="cabin-name">Pine Haven</div>
            <div class="location-container">
                <img src="assets/icons/pin.png" id="pin">
                <div id="cabin-location">{{ cabin.location }}, {{ cabin.county }}</div>
                <div id="cabin-location">Cavnic, Maramures</div>
            </div>
            <div id="check-in-out">
                <div id="dates">
                    <img src="assets/icons/calendar.png">
                    <div>Check-in: {{ searchInputs.start_date }}</div>
                    <div>Check-in: 2026-04-02</div>
                </div>
                <div id="dates">
                    <img src="assets/icons/calendar.png">
                    <div>Check-out: {{ searchInputs.end_date }}</div>
                    <div>Check-out: 2026-04-05</div>
                </div>
            </div>
            <div id="guests">{{ guests_and_number_of_nights }}</div>
            <div id="price-per-night">{{ cabin.price_per_night }} &euro;/night</div>
            <div id="guests">2 nights, 1 adult</div>
            <div id="price-per-night">74 &euro;/night</div>
            <div id="total-price">
                <div>Total</div>
                <div>{{ totalPrice }} &euro;</div>
                <div>148 &euro;</div>
            </div>
            <div (click)="bookCabin()" id="reserve-button">Reserve</div>
        </div>
    } -->
    
    


















        <!--
        <div class="reserve-form-wraper">
            
            @if(isNewUser){
                <div class="close-modal-button-wraper">
                    <div id="back-button" (click)="isNewUser = false; isExistingUser = false; showSelectUser = true">&#8592;</div>
                    <div id="close-modal-button" (click)="closeModal()">&#10006;</div>
                </div>
                <div class="form-title">Reserve a cabin</div>
                <form class="reserve-form" [formGroup]="bookFormNewUser" (submit)="bookWithNewUser()">
                  <div class="name-surname">
                        <div>
                            <div class="label">Name*</div>
                            <input class="input" type="text" formControlName="name">
                            @if(showInputWarning === 'name'){
                                <div class="input-warning-container">
                                    <img src="assets/icons/exclamation.png" id="input-warning-icon">
                                    <div class="input-warning">{{ inputWarning }}</div>
                                </div> 
                            }
                        </div>
                        <div>
                            <div class="label">Surname*</div>
                            <input type="text" class="input" formControlName="surname">
                            @if(showInputWarning === 'surname'){
                                <div class="input-warning-container">
                                    <img src="assets/icons/exclamation.png" id="input-warning-icon">
                                    <div class="input-warning">{{ inputWarning }}</div>
                                </div> 
                            }
                        </div>
                    </div>
                    <div class="input-container">
                        <div class="label">Phone Number*</div>
                        <input type="text" class="input">
                        @if(showInputWarning === 'phone'){
                            <div class="input-warning-container">
                                <img src="assets/icons/exclamation.png" id="input-warning-icon">
                                <div class="input-warning">{{ inputWarning }}</div>
                            </div> 
                        } 
                    </div>
                    <div class="input-container">
                        <div class="label">Email Address*</div>
                        <input type="text" class="input" formControlName="email">
                        @if(showInputWarning === 'email'){
                            <div class="input-warning-container">
                                <img src="assets/icons/exclamation.png" id="input-warning-icon">
                                <div class="input-warning">{{ inputWarning }}</div>
                            </div> 
                        } 
                    </div>
                    <div class="input-container">
                        <div class="label">Password*</div>
                        <input type="text" class="input" formControlName="password">
                        @if(showInputWarning === 'password'){
                            <div class="input-warning-container">
                                <img src="assets/icons/exclamation.png" id="input-warning-icon">
                                <div class="input-warning">{{ inputWarning }}</div>
                            </div>
                        }  
                    </div>
                    <div class="button-wraper">
                        @if(showUserExistsWarning){
                            <div class="user-exists-warning">
                                <div id="user-exists-warning-message">
                                    <img id="input-warning-icon" src="assets/icons/exclamation.png">
                                    User already exists
                                </div>
                           </div>
                        }
                        <button type="submit" class="reserve-button">Reserve</button>
                    </div>
                </form>
            }
            
            
            @if(showSelectUser){
                <div class="close-modal-button-wraper">
                    <div id="back-button" (click)="isNewUser = false; isExistingUser = false; showSelectUser = true">&#8592;</div>
                    <div id="close-modal-button" (click)="closeModal()">&#10006;</div>
                </div>
                <div class="select-user-buttons-container">
                    <div class="select-user-buttons-wraper">
                    <button class="select-user" (click)="isExistingUser = true; showSelectUser = false">Exsting User</button>
                    <button class="select-user" (click)="isNewUser = true; showSelectUser = false">New User</button>
                     </div> 
                </div>
            }
            
            
            @if(isExistingUser){
                <div class="close-modal-button-wraper">
                    <div id="back-button" (click)="isNewUser = false; isExistingUser = false; showSelectUser = true">&#8592;</div>
                    <div id="close-modal-button" (click)="closeModal()">&#10006;</div>
                </div>
                <div class="form-title">Reserve a cabin</div>
                <form class="new-user-reserve-form" [formGroup]="bookFormExistingUser" (submit)="bookWithExistingUser()">
                    
                    @if(showWrongEmailPasswordWarning){
                        <div class="wrong-details-warning">
                            <div id="wrong-details-warning-message">
                                <img id="input-warning-icon" src="assets/icons/exclamation.png">
                                Wrong email or password
                            </div>
                       </div>
                    }
        
                    <div class="input-container">
                        <div class="label">Email*</div>
                        <input class="input" type="text" formControlName="email">
                        @if(showInputWarning_forExistingUserForm === 'email'){
                            <div class="input-warning-container">
                                <img src="assets/icons/exclamation.png" id="input-warning-icon">
                                <div class="input-warning">Please insert an email</div>
                            </div>
                        }
                    </div>
        
                    <div class="input-container">
                        <div class="label">Password*</div>
                        <input class="input" type="text" formControlName="password">
                        @if(showInputWarning_forExistingUserForm === 'password'){
                            <div class="input-warning-container">
                                <img src="assets/icons/exclamation.png" id="input-warning-icon">
                                <div class="input-warning">Please insert a password</div>
                            </div>
                        }
            
                    </div>
                   
                    <div class="button-wraper">
                       <button type="submit" class="reserve-button">Reserve</button>
                    </div>
                </form>
            }



            @if(showSuccesMessage){
                <div class="succes-message-container">
                    <div id="succes-mesage">&#10004; Congratulations! Cabin booked successfully</div>
                    <button routerLink="" id="continue-button" (click)="closeModal()">Continue</button>
                </div>
            }
                
            

        </div>
        -->
        
    
       
        

    <!-- </div> -->
    
    
<!-- </div> -->
