<div class="image-gallery-container-wrapper">
    <div id="close-modal-button" (click)="closeModal()">&#10006;</div>
    <h1>All Pictures</h1>
    <div class="image-gallery-container">
        <img src="{{cabinPicture}}">
        <img src="assets/images/cabin-interior-and-garden-images/bedroom1.jpg">
        <img src="assets/images/cabin-interior-and-garden-images/bedroom2.jpg">
        <img src="assets/images/cabin-interior-and-garden-images/living_room.jpg">
        <img src="assets/images/cabin-interior-and-garden-images/kitchen.jpg">
        <img src="assets/images/cabin-interior-and-garden-images/bathroom.jpg">
        <img src="assets/images/cabin-interior-and-garden-images/garden_pool.jpg">
        <img src="assets/images/cabin-interior-and-garden-images/grill.jpg">
    </div>
</div>

