
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import 'app/shared/search-available-cabins-form/panel.style.scss';

// Define the theme object.
$cabins-retreat-web-application-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($cabins-retreat-web-application-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($cabins-retreat-web-application-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($cabins-retreat-web-application-theme);
/* You can add global styles to this file, and also import other style files */



//html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #F9F6EE; }


//Responsive design for reserve form component

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 576px){
  .reserve-dialog {
    width: 90vw;  
    height: 80vh;
    #success-message{
      font-size: large !important;
    }
  }

  
}


 // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .reserve-dialog{
      width: 60vw;  
      height: 80vh;
      
      #success-message{
        font-size: large !important;
      }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .reserve-dialog{
      width: 50vw;  
      height: 80vh;
      
      #success-message{
        font-size: x-large !important;
      }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .reserve-dialog{
      width: 40vw;  
      height: 80vh; 
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .reserve-dialog{
      width: 35vw;  
      height: 80vh; 
    }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    .reserve-dialog{
      width: 30vw;  
      height: 80vh; 
    }
 }

.cdk-global-overlay-wrapper{
  overflow: auto;
  pointer-events: auto;
  display: flex;
  align-items: center; 
  justify-content: center;
}

