<div class="review-form-container-wrapper">
    @if(showReviewForm && cabin){
        <div class="close-modal-button-wraper">
            <div id="close-modal-button" (click)="closeModal()">&#10006;</div>
        </div>
    
        <div class="cabin-details-container">
            <img id="cabin-image" src="{{ cabin.picture }}" alt="">
            <div class="title-location-container">
                <div id="cabin-title">{{ cabin.name }}</div>
                <div class="location-container">
                    <img id="location-pin" src="assets/icons/pin.png">
                    <div id="cabin-location">{{ cabin.location }}, {{ cabin.county }}</div>
                </div>
            </div>
        </div>
    
    
    
        <div class="review-form-container" #reviewFormContainer>
           
            <form class="review-form" [formGroup]="reviewForm" (submit)="createReview()">
                <div class="review-section">
                    <div class="label" id="rating-label">Rating</div>
                    <app-review-form-star-rating (sendRating)="rating=$event"/>
                    <div class="label" id="review-label">Review</div>
                    <textarea id="review" cols="50" rows="8" formControlName="review"></textarea>
                </div>
        
                <div class="add-review-button-wrapper">
                    <button type="submit" class="add-review-button">Add review</button>
                </div>
            
            </form>
        </div>
    }
    

    @if(showSubmitMessage){
        <div class="message-form-submit-wrapper">
            <div class="message-form-submit">
                <img id="check-icon" src="{{ submitMessageImg }}">
                <div [ngClass]="submitMessageRed ? 'submit-message-red' : 'submit-message'">
                    {{ submitMessage }}
                </div>
            </div>
            <button class="continue-button" (click)="closeModal()">Continue</button>
         </div>
    }
    
</div>
